#word1{
color:blue;
}
#word2{
font-family:serif;
    background:green;
    color:white;
    margin:10px;
}
#word3{
color:gray;
    margin:10px;
}
#word4{
width:20px;
   
    color:navy;
    position:fixed;
    margin:10px;
}
li{
display:inline-block;
    background:lightblue;
}
